/* ------------------------------------
   Global Styles 
   ------------------------------------*/

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Arimo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, li {
    font-family: 'Arimo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

::-moz-selection {
    background: #9b59b6;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #9b59b6;
    color: #fff;
    text-shadow: none;
}

.background-mask-dark {
    background-color: rgba(0, 0, 0, 0);
}

.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.background-mask-dark.darker {
    background-color: rgba(0, 0, 0, 0.8);
}

.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1em;
    padding-top: 8px;
}

.next-section {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 48%;
    cursor: pointer;
}

.next-section .fa {
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.next-section:hover .fa-circle,
.next-section:focus .fa-circle {
    color: rgba(250, 250, 250, 0.8);
}

.next-section:hover .fa-circle.inverse,
.next-section:focus .fa-circle.inverse {
    color: rgba(0, 0, 0, 0.4);
}

.next-section-text {
    /*left: 46%;*/
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.7;
    position: relative;
    top: 60px;
}

.next-section-text:hover,
.next-section-text:focus {
    opacity: 1.0;
    cursor: pointer;
}

.next-section-text span {
    font-size: 1.2em;
}


/* first pair */

.next-section .fa-circle {
    color: rgba(250, 250, 250, 0.2);
}

.next-section .fa-chevron-down {
    color: #333;
}

.next-section .fa-circle.inverse {
    color: rgba(0, 0, 0, 0.2);
}

.next-section .fa-chevron-down.inverse {
    color: rgba(250, 250, 250, 0.6);
}


/* ------------------------------------
   Full Page Image Header Area 
   ------------------------------------*/

#top h3 {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.2em;
}

.full-screen {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}

.header {
    /*background: url(../images/bg.jpg) no-repeat center center fixed;*/
    /*background: url(../images/san_francisco_skyline_9313.jpg) no-repeat center center fixed;*/
    /*background: url(../images/new-bay-bridge.jpeg) no-repeat center center fixed;*/
    /*    background: url(../images/sf-alcatraz.jpg) no-repeat center center fixed;
    background-size: cover;*/

    /*green yellow*/
/*    background: rgba(215, 207, 96, 1);
    background: -moz-linear-gradient(top, rgba(215, 207, 96, 1) 0%, rgba(51, 113, 95, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215, 207, 96, 1)), color-stop(100%, rgba(51, 113, 95, 1)));
    background: -webkit-linear-gradient(top, rgba(215, 207, 96, 1) 0%, rgba(51, 113, 95, 1) 100%);
    background: -o-linear-gradient(top, rgba(215, 207, 96, 1) 0%, rgba(51, 113, 95, 1) 100%);
    background: -ms-linear-gradient(top, rgba(215, 207, 96, 1) 0%, rgba(51, 113, 95, 1) 100%);
    background: linear-gradient(to bottom, rgba(215, 207, 96, 1) 0%, rgba(51, 113, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d7cf60', endColorstr='#33715f', GradientType=0);
*/

/* sf background gradient */
background: rgba(50,72,103,1);
background: -moz-linear-gradient(top, rgba(50,72,103,1) 0%, rgba(77,100,122,1) 57%, rgba(155,129,95,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,72,103,1)), color-stop(57%, rgba(77,100,122,1)), color-stop(100%, rgba(155,129,95,1)));
background: -webkit-linear-gradient(top, rgba(50,72,103,1) 0%, rgba(77,100,122,1) 57%, rgba(155,129,95,1) 100%);
background: -o-linear-gradient(top, rgba(50,72,103,1) 0%, rgba(77,100,122,1) 57%, rgba(155,129,95,1) 100%);
background: -ms-linear-gradient(top, rgba(50,72,103,1) 0%, rgba(77,100,122,1) 57%, rgba(155,129,95,1) 100%);
background: linear-gradient(to bottom, rgba(50,72,103,1) 0%, rgba(77,100,122,1) 57%, rgba(155,129,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324867', endColorstr='#9b815f', GradientType=0 );
}

.header .vert-text {
    color: #ECF0F1;
}

.header h3 {
    color: #ECF0F1;
    font-weight: 100;
    letter-spacing: 1px;
}

.header .intro-button {
    display: none;
    color: #ECF0F1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    background-color: transparent;
    border: solid 2px;
    border-color: #FF974F;
    text-shadow: none;
    font-weight: 200;
}

.header .intro-button:hover,
.header .intro-button:focus {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    color: white;
    background-color: #FF974F;
}


/* ------------------------------------
   Intro 
   ------------------------------------*/

#large-header {
    position: absolute;
    z-index: 1;
}

#intro {
    /*    position: relative;
    z-index: 0;
*/
    /*padding: 65px 0;*/
    color: #2C3E50;
    /*background-color: #ECF0F1;*/
    background: linear-gradient(-105deg, #63bdc6, #5d7bc1 40%, #9753aa);
}

#intro h2 {
    font-size: 3.2em;
    color: white;
    text-shadow: 0 1.5px #8B5CAF;
    padding: 0 20px;
    line-height: 1.3em;
    font-weight: bold;
}

#intro p {
    /*color: #DFDFDF;*/
    /*color: white;*/
    color: #232323;
    line-height: 1.3em;
    font-size: 2.2em;
    font-weight: bold;
}

#intro .vert-text {
    position: relative;
    z-index: 2;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    /* box-shadow: 0 -2px 2px -2px #99c3ea; */
    margin-left: 0px;
}

.profile-picture img:hover {
    -webkit-filter: grayscale(100%);
}

h3,
h2 {
    margin: 10px 0 15px 0;
}


/* ------------------------------------
   Services 
   ------------------------------------*/

.services {
    background: #3498db;
    padding: 65px 0 70px 0;
    color: #ffffff;
}

.callout h4 {
    /*font-weight: 200;*/
    line-height: 1.3em;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    /*font-weight: bold;*/
}

.callout a:hover h4,
.callout a:focus h4 {
    text-decoration: none;
    color: white;
}

.service-item {
    margin-bottom: 15px;
}

i.service-icon {
    border: 3px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.interests {
    /*margin-right: 15px;*/
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.interests:hover,
.interests:focus {
    /*background-color: #4AA3DF;*/
    cursor: pointer;
    /*box-shadow: 0 5px 5px -5px #0886db;*/
}

.interests:hover i.service-icon,
.interests:focus i.service-icon {
    font-size: 100px;
}

.interests:hover i.fa-github,
.interests:focus i.fa-github {
    font-size: 125px;
}

.interests:hover i.fa-pencil,
.interests:focus i.fa-pencil {
    -webkit-transform: translatez(0) rotate(-45deg);
    -ms-transform: translatez(0) rotate(-45deg);
    transform: translatez(0) rotate(-45deg);
}

.interests:hover i.fa-rocket,
.interests:focus i.fa-rocket {
    -webkit-transform: translatez(0) rotate(-45deg);
    -ms-transform: translatez(0) rotate(-45deg);
    transform: translatez(0) rotate(-45deg);
}


/* color services */

#ga-opensource,
#ga-opensource i.service-icon {
    color: #885DB0;
    border-color: #885DB0;
}

#ga-write,
#ga-write i.service-icon {
    color: #736BB8;
    border-color: #736BB8;
}

#ga-perf,
#ga-perf i.service-icon {
    color: #5D7FC1;
    border-color: #5D7FC1;
}

#ga-music,
#ga-music i.service-icon {
    color: #61A6C5;
    border-color: #61A6C5;
}


/* ------------------------------------
   Callout 
   ------------------------------------*/

.callout {
    color: #ffffff;
    display: table;
    /*height: 400px;*/
    width: 100%;
    background-image: url(../images/section-two.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.callout h2 {
    /*font-size: 30px;*/
    font-size: 3.2em;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}


/* ------------------------------------
   Call to Action - Get in touch
   ------------------------------------*/

.call-to-action {
    color: #ffffff;
    background: #FF974F;
    padding: 0 15px 0 15px;
}

.call-to-action h2 {
    font-size: 3em;
    padding: 0 15px 0 15px;
}

.call-to-action h2 span.first {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.call-to-action h2 span {
    font-weight: normal;
    font-size: 0.9em;
}

.call-to-action .btn {
    margin: 10px;
}

.first-list {
    margin-bottom: 35px;
}

/* ------------------------------------
   Footer 
   ------------------------------------*/

#contact {
    position: relative;
}

footer {
    padding: 100px 0;
}

.contact-icons {
    margin-top: 30px;
}

.contact-icons a {
    color: #333;
    font-size: 15px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.contact-icons a:hover,
.contact-icons a:focus {
    text-decoration: none;
    color: white;
}

#now h4 {
    font-size: 1.4em;
    line-height: 1.5em;
}
#now p {
    color: white;
    font-size: 1.3em;
}
#now ul {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
#now ul li {
    list-style: none;
    /*text-align: left;*/
    font-size: 1.5em;
    color: #DADADA;
}

/* ------------------------------------
   Generic Shared
   ------------------------------------*/

.lead {
    max-width: 525px;
    margin: 0 auto;
}

.fa-stack-2x {
    /*font-size:;*/
}

.text-danger {
    color: red;
}


/* ------------------------------------
   Responsive Stuff
   ------------------------------------*/

@media screen and (min-width: 992px) {
    .header {
        background: url(../images/sf-alcatraz.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .background-mask-dark {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 600px) {
    /* top */
    .vert-text h1 {
        padding: 0 15px 0 15px
    }
    /* purple section */
    #intro h2 {
        font-size: 2.5em;
        text-shadow: 0 0;
        font-weight: bold;
    }
    #intro p {
        padding: 0 20px;
        font-size: 2em;
    }
    .col-xxs-12 {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    /* interests - animated bubbles section */
    #now .container {
        padding-bottom: 70px;
    }
    #now ul {
        padding: 0 20px 0 20px;
    }
    #now ul li {
        list-style: initial;
        text-align: left;
    }
    .callout h2 {
        margin-top: 50px;
        font-weight: bold;
        font-size: 2.5em;
    }
    .callout h4 {
        font-size: 1.7em;
    }
    .interests:last-child {
        margin-bottom: 50px;
    }
    /* social links */
    .call-to-action .vert-text {
        font-size: 0.9em;
        padding: 50px 15px 50px 15px;
    }
    .next-section-text {
        position: static;
        text-align: center;
        padding-top: 50px;
    }
    #c2a .vert-text {
        padding-bottom: 100px;
    }
    /* footer */
    #contact p {
        font-size: 1.3em;
    }
    /* general  */
    .next-section {
        left: 45%;
    }
    .call-to-action .next-section-text {
        /*left: 50%;*/
        /*font-size: 1.3em;*/
    }
}
