/* ------------------------------------
   Global Styles 
   ------------------------------------*/

html, body {
    height: 100%;
    width: 100%;
}

::-moz-selection {
    background: #9b59b6;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #9b59b6;
    color: #fff;
    text-shadow: none;
}
.background-mask-dark {
    background-color: rgba(0, 0, 0, 0.3);
}
.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.background-mask-dark.darker {
    background-color: rgba(0, 0, 0, 0.6);    
}
.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 1px;
}

/* ------------------------------------
   Full Page Image Header Area 
   ------------------------------------*/
.full-screen {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}
.header {
    /*background: url(../images/bg.jpg) no-repeat center center fixed;*/
    /*background: url(../images/san_francisco_skyline_9313.jpg) no-repeat center center fixed;*/
    
    background: url(../images/sf-alcatraz.jpg) no-repeat center center fixed;
    background-size: cover;
}
.header .vert-text {
    color: #ECF0F1;
}
.header h3 {
    color: #ECF0F1;
    font-weight: 100;
    letter-spacing: 1px;
}
.header .intro-button {
    color: #ECF0F1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    background-color: transparent;
    border: solid 2px;
    border-color: #FF974F;
    text-shadow: none;
    font-weight: 200;
}
.header .intro-button:hover {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    color: white;
    background-color: #FF974F;
}

/* 
  make the c2a button a more visible color on smaller height screens
  because the dark colors conflict with the bottom of the background image 
*/
/*@media screen and (max-height: 750px) {
    .header .intro-button {
        color: #ccc;
        border-color: #ccc;
    }
}*/
/* ------------------------------------
   Intro 
   ------------------------------------*/

.intro {
    padding: 65px 0;
    color: #2C3E50;
    background-color: #ECF0F1;
}
.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    /* box-shadow: 0 -2px 2px -2px #99c3ea; */
    
    margin-left: 0px;
}
.profile-picture img:hover {
    -webkit-filter: grayscale(100%);
}
h3, h2 {
    margin: 10px 0 15px 0;
}

/* ------------------------------------
   Services 
   ------------------------------------*/

.services {
    background: #3498db;
    padding: 65px 0 70px 0;
    color: #ffffff;
}
.callout h2 {
    margin-bottom: 50px;
}
.callout h4 {
    font-weight: 200;
    line-height: 1.4;
    font-size: 21px;
    letter-spacing: 1px;
}
.service-item {
    margin-bottom: 15px;
}
i.service-icon {
    border: 3px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.interests {
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.interests:hover {
    /*background-color: #4AA3DF;*/
    cursor: pointer;
    /*box-shadow: 0 5px 5px -5px #0886db;*/
}
.interests:hover i.service-icon {
    font-size: 100px;
}
.interests:hover i.fa-github {
    font-size: 125px;
}
.interests:hover i.fa-pencil {
    -webkit-transform: translatez(0) rotate(-45deg);
    -ms-transform: translatez(0) rotate(-45deg);
    transform: translatez(0) rotate(-45deg);
}
.interests:hover i.fa-rocket {
    -webkit-transform: translatez(0) rotate(-45deg);
    -ms-transform: translatez(0) rotate(-45deg);
    transform: translatez(0) rotate(-45deg);
}

/* ------------------------------------
   Callout 
   ------------------------------------*/

.callout {
    color: #ffffff;
    display: table;
    /*height: 400px;*/
    width: 100%;
    background-image: url(../images/section-two.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.callout h2 {
    font-size: 30px;
}

/* ------------------------------------
   Call to Action - Get in touch
   ------------------------------------*/

.call-to-action {
    color: #ffffff;
    background: #FF974F;
    padding: 65px 0;
}
.call-to-action .btn {
    margin: 10px;
}

footer {
    padding: 100px 0;
}

.contact-icons {
    margin-top: 50px;
}
.contact-icons a {
    color: #333;
    font-size: 15px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.contact-icons a:hover {
    text-decoration: none;
    color: white;
}

/* ------------------------------------
   Generic Shared
   ------------------------------------*/

.lead {
    width: 500px;
    margin: 0 auto;
}